{% extends 'base.html' %}

<style>
    .posts {
        max-width: 600px;
        margin: 2rem auto;
        text-align: center;
    }
</style>

{% block content %}
    <div class="posts" style="max-width: 600px; margin: auto; text-align: center">
        <h1><a style="text-decoration: none" href="{% url 'post_list' %}">Main page</a></h1>
        <a href="{% url 'post_list' %}"></a>
        {% for post in posts %}
            <a style="text-decoration: none" href="{% url 'post_detail' post.pk %}">
                <h2>{{ post.title }}</h2>
                <img src="{{ post.image.url }}" alt="no image" width="600px" height="auto">
            </a>
        <p>Post author: {{ post.author }}</p>
        <p>likes {{ post.likes.count }}</p>

    {% if request.user not in post.likes.all %}
        <button class="btn btn-success">
            <a href="{% url 'like' post.pk %}" style="color: white">Like</a>
        </button>
    {% else %}
        <button class="btn btn-danger">
            <a href="{% url 'like' post.pk %}" style="color: white">Unlike</a>
        </button>
    {% endif %}
        {% endfor %}
    </div>
{% endblock %}